body {
    background: #332741;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.renderCanvas {
    width: 880px;
    height: 100%;
    touch-action: none;
    float: left;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.AppContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 1280px;
    height: 720px;
    background: #6b6b6b;
    box-shadow: 0px 0px 20px #000000;
}

.levelPanel {
    width: 400px;
    float: right;
}

.levelPanel .titlePanel {
    height: 70px;
    padding: 10px;
    background: #ffffff;
    border-bottom: 2px solid #dadada;
}

.levelPanel .titlePanel h1 {
    padding: 0;
    margin: 0;
    font-size: 32px;
}

.levelPanel .titlePanel p {
    margin: -5px 0 0 2px;
}

.instructionsPanel {
    width: 100%;
    height: 200px;
    background-color: #f5f5f5;
}

.instructionsPanel .instructionsHeading {
    padding: 10px;
    background-color: #ffffff;
    border-bottom: 2px solid #dadada;
    font-weight: 600;
}

.instructionsPanel p {
    color: #000000;
    padding: 10px;
}

.codeEngine {
    width: 100%;
    padding: 10px;
    height: 450px;
    background-color: #ebebeb;
    overflow-y: scroll;
}

.codeEngine .block {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background: #6b6b6b;
    color: #ffffff;
}

.codeEngine .block.function {
    background: #009fe9;
}

.codeEngine .block.if {
    background: #e90075;
}

.codeEngine .block.loop {
    background: #e98400;
}

.codeEngine .btnAddBlock {
    padding: 5px 20px 5px 20px;
    margin: 0 auto;
    margin-bottom: 5px;
    display: block;
    background: #bbbbbb;
    border: 0;
}

.codeEngine .block.if .btnAddBlock {
    margin-bottom: 0;
    background: #bb083e;
    color: #ffffff;
}

.codeEngine .block.loop .btnAddBlock {
    margin-bottom: 0;
    background: #ca710a;
    color: #ffffff;
}